**/*.iml
**/*.png
*.log
*/target/
**/.flattened-pom.xml

.idea/

aas/src/main/java/**/*.java
ids/src/main/java/de/fraunhofer/iais/eis/*.java

visualization/*.plantuml
jsonld-context/context.json
jsonld-context/context.jsonld
/.project
*.settings*
*.project
*.classpath
